<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.newegg.ec.cache.plugin.docker.IDockerNodeDao">

    <select id="getDockerNodeList"  resultType="com.newegg.ec.cache.plugin.docker.DockerNode" parameterType="int">
        select * from docker_node
        <if test="_parameter != null">
            where cluster_id =#{id}
        </if>
        limit 500
    </select>

    <select id="getDockerNode" parameterType="int" resultType="com.newegg.ec.cache.plugin.docker.DockerNode">
        select * from docker_node where id=#{id}
    </select>

    <delete id="removeDockerNode">
        delete from docker_node where id = #{id}
    </delete>

    <delete id="removeDockerNodeByClusterId" parameterType="int">
        delete from docker_node where cluster_id = #{id}
    </delete>

    <insert id="addDockerNode"  parameterType="com.newegg.ec.cache.plugin.docker.DockerNode"  useGeneratedKeys="true" keyProperty="id">
        insert into docker_node(image,container_name,cluster_id, user_group, ip,port, add_time ) values(#{image},#{containerName},#{clusterId},#{userGroup},#{ip},#{port},#{addTime})
    </insert>

</mapper>