<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.newegg.ec.cache.plugin.machine.IMachineNodeDao">

    <select id="getMachineNodeList"  resultType="com.newegg.ec.cache.plugin.machine.MachineNode" parameterType="int">
        select * from machine_node
        <if test="_parameter != null">
            where cluster_id =#{id}
        </if>
        limit 500
    </select>

    <select id="getMachineNode" parameterType="int" resultType="com.newegg.ec.cache.plugin.machine.MachineNode">
        select * from machine_node where id=#{id}
    </select>

    <delete id="removeMachineNode">
        delete from machine_node where id = #{id}
    </delete>

    <delete id="removeMachineNodeByClusterId" parameterType="int">
        delete from machine_node where cluster_id = #{id}
    </delete>


    <insert id="addMachineNode"  parameterType="com.newegg.ec.cache.plugin.machine.MachineNode"  useGeneratedKeys="true" keyProperty="id">
        insert into machine_node(image,cluster_id,username,password, user_group, ip,port,install_path, add_time ) values(#{image},#{clusterId},#{username},#{password},#{userGroup},#{ip},#{port},#{installPath},#{addTime})
    </insert>

</mapper>