.tab-position{
    margin-bottom:5px;
    padding: 15px;
}

.sort-span{
    margin-top:5px;
    float:right;
    color:#85929E;
    cursor:pointer;
}

.display-hide{
    display:none;
}

.main-wrapper {
    padding: 10px;
}

.item-container {
    margin-bottom: 10px;
}

.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* main page */
.data-container {
    background-color: #FFFFFF;
}

.main-swapper {
    background-color: #FFFFFF;
}

.tab-content {
    margin-top: 15px;
    padding: 0 15px 15px;
}

.pagination-support {
    margin: 10px 0px;
}

.pagination-support li {
    display: inline-flex;
    margin-bottom: 10px;
    cursor: pointer;
}

.tip {
    margin-left: 10px;
    font-size: 12px;
    color: #aaaaaa;
}

.row-button {
    margin: 10px 0px;
}

.operation-all {
    margin: 0 10px 10px 0;
    width: 100%;
    display: inline-flex;
    justify-content: flex-end;
}


