<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.newegg.ec.cache.app.dao.IClusterCheckRuleDao">

     <insert id="addClusterCheckRule"  parameterType="com.newegg.ec.cache.app.model.ClusterCheckRule">
         insert into cluster_check_rule(id, cluster_id,limit_name,formula,description,update_time)
                                values(#{id},#{clusterId},#{limitName},#{formula},#{description},#{updateTime})
     </insert>

    <update id="updateClusterCheckRule" parameterType="com.newegg.ec.cache.app.model.ClusterCheckRule">
        update  cluster_check_rule set
        id = #{id},
        cluster_id = #{clusterId},
        limit_name = #{limitName},
        formula = #{formula},
        description = #{description},
        update_time = #{updateTime}
        where
        id = #{id}
    </update>

    <delete id="delClusterCheckRule">
        delete from cluster_check_rule
        <where>
            0 = 0
            <if test="params.id != null and params.id !=''">
                and id = #{params.id}
            </if>
            <if test="params.clusterId != null and params.clusterId !=''">
                and cluster_id = #{params.clusterId}
            </if>
        </where>
    </delete>

     <select id="getClusterRuleList" parameterType="java.lang.String" resultType="com.newegg.ec.cache.app.model.ClusterCheckRule">
        select  * from cluster_check_rule where cluster_id = #{clusterId}
    </select>

    <select id="getClusterRule" parameterType="java.lang.String" resultType="com.newegg.ec.cache.app.model.ClusterCheckRule">
        select  * from cluster_check_rule  Where  id = #{id}
    </select>

</mapper>