<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.newegg.ec.cache.app.dao.IClusterCheckLogDao">

     <insert id="addClusterCheckLog"  parameterType="com.newegg.ec.cache.app.model.ClusterCheckLog">
         insert into cluster_check_logs(id, cluster_id,node_id,formula,log_type,log_info,description,is_checked,update_time)
                                values(#{id},#{clusterId},#{nodeId},#{formula},#{logType},#{logInfo},#{description},#{isChecked},#{updateTime})
     </insert>

     <select id="getClusterCheckLogs" parameterType="java.util.Map" resultType="com.newegg.ec.cache.app.model.ClusterCheckLog">
           select  * from cluster_check_logs
           <where>
               0 = 0
               <if test="params.id != null and params.id !=''">
                   and id = #{params.id}
               </if>
               <if test="params.clusterId != null and params.clusterId !=''">
                   and cluster_id = #{params.clusterId}
               </if>
               <if test="params.nodeId != null and params.nodeId !=''">
                   and node_id = #{params.nodeId}
               </if>
               <if test="params.limitName != null and params.limitName !=''">
                   and limit_name = #{params.limitName}
               </if>
               <if test="params.formula != null and params.formula !=''">
                   and formula = #{params.formula}
               </if>
               <if test="params.logType != null and params.logType !=''">
                   and log_type = #{params.logType}
               </if>
               <if test="params.isChecked != null and params.isChecked !=''">
                   and is_checked = #{params.isChecked}
               </if>
               <if test="params.updateTime != null and params.updateTime !=''">
                   and update_time > #{params.updateTime}
               </if>
               <if test="params.limit != null and params.limit !=''">
                   limit #{params.limit}
               </if>
           </where>
     </select>

    <delete id="delLogs">
        delete from cluster_check_logs
        <where>
             0 = 0
            <if test="params.id != null and params.id !=''">
                and id = #{params.id}
            </if>
            <if test="params.clusterId != null and params.clusterId !=''">
                and cluster_id = #{params.clusterId}
            </if>
            <if test="params.nodeId != null and params.nodeId !=''">
                and node_id = #{params.nodeId}
            </if>
            <if test="params.logType != null and params.logType !=''">
                and log_type = #{params.logType}
            </if>
            <if test="params.isChecked != null and params.isChecked !=''">
                and is_checked = #{params.isChecked}
            </if>
            <if test="params.updateTime != null and params.updateTime !=''">
                <![CDATA[
                  and update_time < #{params.updateTime}
                ]]>
            </if>
        </where>
    </delete>

    <update id="checkWarningLogs" parameterType="java.util.Map">
        UPDATE  cluster_check_logs SET  is_checked = 1
        <where>
            0 = 0
            <if test="params.id != null and params.id !=''">
                and id = #{params.id}
            </if>
            <if test="params.clusterId != null and params.clusterId !=''">
                and cluster_id = #{params.clusterId}
            </if>
        </where>
    </update>

    <select id="countTotalWarningLog" parameterType="List" resultType="java.lang.Integer">
        SELECT COUNT(id) FROM  cluster_check_logs
        WHERE
        cluster_id in
        <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
        AND
        is_checked = 0
    </select>

    <select id="countWarningLogByClusterId" resultType="java.lang.Integer">
        SELECT COUNT(id)
        FROM
            cluster_check_logs
        WHERE
            cluster_id = #{clusterId}
        AND
            is_checked = 0
    </select>

</mapper>