<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.newegg.ec.cache.app.dao.IClusterDao">
    <select id="getClusterList"  resultType="com.newegg.ec.cache.app.model.Cluster" parameterType="String">
        select * from cluster
        <if test="_parameter != null">
            where user_group=#{userGroup}
        </if>
        limit 500
    </select>
    <select id="getCluster" parameterType="int" resultType="com.newegg.ec.cache.app.model.Cluster">
        select * from cluster where id=#{id}
    </select>

    <select id="getClusterGroups" resultType="String">
        select distinct user_group from cluster
    </select>

    <select id="getClusterByAddress" parameterType="String" resultType="com.newegg.ec.cache.app.model.Cluster">
        select * from cluster where  address like CONCAT('%',#{address},'%')
    </select>
    <delete id="removeCluster">
        delete from cluster where id = #{id}
    </delete>
    <insert id="addCluster"  parameterType="com.newegg.ec.cache.app.model.Cluster"  useGeneratedKeys="true" keyProperty="id">
        insert into cluster(address,cluster_name, redis_password, user_group, cluster_type ) values(#{address},#{clusterName},#{redisPassword}, #{userGroup},#{clusterType})
    </insert>
    <update id="updateClusterAddress">
        UPDATE
        cluster
        SET
        address = #{address}
        WHERE
        id = #{id}
    </update>

    <update id="updatePassword" parameterType="com.newegg.ec.cache.app.model.Cluster">
        UPDATE
            cluster
        SET
            redis_password = #{redisPassword}
        WHERE
            id = #{id}
    </update>
</mapper>