<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.newegg.ec.cache.plugin.humpback.IHumpbackNodeDao">

    <select id="getHumbackNodeList"  resultType="com.newegg.ec.cache.plugin.humpback.HumpbackNode" parameterType="int">
        select * from humpback_node
        <if test="_parameter != null">
            where cluster_id =#{id}
        </if>
        limit 500
    </select>

    <select id="getHumpbackNode" parameterType="int" resultType="com.newegg.ec.cache.plugin.humpback.HumpbackNode">
        select * from humpback_node where id=#{id}
    </select>

    <delete id="removeHumbackNode">
        delete from humpback_node where id = #{id}
    </delete>

    <delete id="removeHumbackNodeByClusterId" parameterType="int">
        delete from humpback_node where cluster_id = #{id}
    </delete>

    <insert id="addHumbackNode"  parameterType="com.newegg.ec.cache.plugin.humpback.HumpbackNode"  useGeneratedKeys="true" keyProperty="id">
        insert into humpback_node(image,container_name,cluster_id, user_group, ip,port, add_time ) values(#{image},#{containerName},#{clusterId},#{userGroup},#{ip},#{port},#{addTime})
    </insert>

</mapper>