.body-container {
    padding: 0px;
}

.data-container {
	padding: 0;
	margin: 0;
}

.cluster-list-container {
	padding-top: 10px;	
}

.cluster-list-container ul{
	width: 100%;
    display: inline-block;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.cluster-list-container ul li{
	width: 24%;
	height: 200px;
	float: left;
	padding: 0.5%;
    margin: 0 0.5% 1%;
	border: 1px solid #ddd;
	border-radius: 3px;
	background: white;
}

.cluster-list-container ul li:hover{
	box-shadow: inset 0px -3px 12px rgba(.5,.5,.5,.10);   
}

.cluster-list-container a {
	display: block;
	text-decoration: none;
	color: #666666;
}

.delete-container {
	display: flex;
	justify-content: flex-end;
	cursor: pointer;
	-webkit-transition:-webkit-transform 1s;  
}

.delete-container i{  
	color: #dadada;
 	transition:all 0.5s linear;transform:rotate(0deg);
} 

.delete-container i:hover{  
	color: #ff6c60;
	opacity: 1; 
	transform:rotate(-180deg);
}

.add-li, .add-li:hover {
	box-shadow: none; !important
}

.add-li{
	padding-bottom: 1% ;
	height: 200px;
} 

.add-btn {
    cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 56px;
	color: #DADADA;
}

.add-btn i {
	margin: 58px;
}

.one-data{
	margin: 0 0 5px 10px;
    font-size: 16px;
    font-weight: 200;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.see-details {
	text-align: center;
	line-height: 30px;
	height: 30px;
    width: 100px;  
    border: 1px solid #DADADA;
    border-radius: 5px;
    /*background: linear-gradient(to top, #DADADA, white);*/
}

.tip {
	display: flex;
	justify-content: center;
	color: #8C8C8C;
	margin-bottom: 10px;
}

.btn-container {
    display: flex;
}

.btn-container button{
    width: 300px;00px;
}
.cluster-form-input-tip{
    margin-left: 22px;
    margin-top: -10px;
    margin-bottom: 9px;
}
.cluster-item{
    display: block;
    text-decoration: none;
    color: #666666;
}