html, body, table{
	padding: 0px;
	margin: 0px;
	height: 100%;
	width: 100%;
	font-family: "Open Sans","Helvetica Neue",Helvetica, Arial, sans-serif, -apple-system,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Arial;
}

h2 {
	margin: 0;
	padding: 0;
}

button, input{
	outline: none; !important
}

a, a:hover{
	cursor: pointer;
	text-decoration: none;
}

.body-container {
	width: 100%;
    height: 100%;
    padding: 10px;
    overflow-y: auto;
    background: #f1f2f7;
}

.general-title{
	margin: 20px;
    font-size: 20px;
    font-weight: bold;
    color: #004d6f;
    border-bottom: 1px solid #DADADA;
}

.header-swapper {
    margin: 0;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
}

.cluster-name-container{
    margin-left: 5px;
	font-size: 24px;
	display: flex;
	align-items: center;
}

.panel-heading, .panel-heading-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
}

.data-container{
	background-color: #f1f2f7;
    /*box-shadow: 1px 1px 3px 2px #ccc;*/
}

.data-header{
	margin: 0 0 10px 8px;
    width: 100%;
	display: inline-flex;
    justify-content: space-between;
}

.title-text{
	margin-left: 5px;
	line-height: 30px;
    font-size: 14px;
    font-weight: bold;
}

.list-table tr th, .list-table tbody td{
	text-align:center;

}

.list-table tbody tr td{
	display: table-cell; 
	vertical-align: middle;
}

/*弹出框样式*/

.item{
	margin: 0 auto 15px;
	width: 80%;
}

.input-title{
	width: 120px;
}

.detail-state-font {
	margin-left: 10px;
	font-size: 16px;
}

.state-ok {
	padding: 0 5px;
	border-radius: 2px;
	background-color: #6ccac9;
	/*background-color: #76bd1d;*/
	color:	#FFFFFF;
}

.state-fail {
	padding: 0 5px;
	border-radius: 2px;
	background-color: #ff6c60;
	color:	#FFFFFF;
}

.input-error {
	border: 1px solid #f20d0d;
}


.scrollbar-div{
    /*min-height: 700px;*/
   `height: 100%;
    overflow: auto;
    width: 100%;
}
.scrollbar{
    width: 100%;
    margin: 0 auto;
}
.scrollbar-div-1::-webkit-scrollbar {/*滚动条整体样式*/
    width: 5px;     /*高宽分别对应横竖滚动条的尺寸*/
    height: 5px;
}
.scrollbar-div-1::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 5px rgba(149, 149, 149, 0.2);
    background: #dadada;
}

.scrollbar-div-1::-webkit-scrollbar-track {/*滚动条里面轨道*/
    -webkit-box-shadow: inset 0 0 5px rgba(149, 149, 149, 0.2);
    border-radius: 5px;
    background: #f1f2f7;
}

.brand-icon{
	width: 100px;
	margin-right: 10px;
	color: #D82C22;
}

/*button style*/
.operation-btn-swapper{
	padding: 10px 0;
	display: flex;
	justify-content: center;
}

.operation-btn {
	padding: 3px 10px;
	border: 1px solid #DADADA;
	border-radius: 3px;
}

.operation-btn:hover{
	background: linear-gradient(to top, #F9F9F9, white);
}


.btn-default,
.btn-default:focus,
.btn-default:hover,
.btn-default:active:hover,
.btn-default:active:focus,
.btn-default.active:focus,
.btn-default.focus,
.btn-default:active.focus,
.btn-default:active.focus {
    border: 1px solid #dadada;
    outline: none;
    background-color: #FFFFFF;
    color: #333;
}

.btn-primary,
.btn-primary:focus,
.btn-primary:hover,
.btn-primary:active:focus,
.btn-primary.active:focus,
.btn-primary.focus,
.btn-primary:active.focus {
    border: 1px solid #3fa7dc;
    outline: none;
    background-color: #3fa7dc;
    color: #FFFFFF;
}

.btn-warning,
.btn-warning:focus,
.btn-warning:hover,
.btn-warning:active:hover,
.btn-warning:active:focus,
.btn-warning.active:focus,
.btn-warning.focus,
.btn-warning:active.focus,
.btn-warning:active.focus {
    border: 1px solid #f8d347;
    outline: none;
    background-color: #f8d347;
    color: #FFFFFF;
}

.btn-danger,
.btn-danger:focus,
.btn-danger:hover,
.btn-danger:active:hover,
.btn-danger:active:focus,
.btn-danger.active:focus,
.btn-danger.focus,
.btn-danger:active.focus,
.btn-danger:active.focus {
    border: 1px solid #ff6c60;
    outline: none;
    background-color: #ff6c60;
    color: #FFFFFF;
}

.label-success, .label-danger, .label-info {
    color: #FFFFFF;
    padding: 1px 5px;
}

.label-success {
    background-color: #41cac0;
}

.label-danger {
    background-color: #ff6c60;
}

.label-info {
    background-color: #57c8f2;
}
/*color*/

.info-color {
	color: #5cb85c;
}

.navbar-inverse .navbar-brand,.navbar-inverse .navbar-nav>li>a{
    color:#fff;
}

.string { color: green; }
.number { color: darkorange; }
.boolean { color: blue; }
.null { color: magenta; }
.key { color: red; }
nav.sw-toolbar.sw-toolbar-bottom{ display:none; }

textarea{
    max-height: 200px;
}

.margin-left-10 {
    margin-left: 10px;
}

.icon-margin {
    margin-right: 8px;
}

.sparrow-tip{
    height:20px;
}
.sparrow-input-placeholder{
    margin-left:15px;
    color:#a69bb4;
}