/*cluster list base info*/

.list-info ul {
	width: 100%;
	margin: 0 0 30px 0;
	padding: 0;
	display: flex;
	justify-content: space-between;
	list-style-type: none;
}

.list-container ul {
	width: 100%;
	display: inline-block;
	margin-top: 10px;
	padding: 0;
	list-style-type: none;
}

.list-info ul li {
	width: 25%;
	height: auto;
	display: flex;
	align-items: center;
	border-radius: 5px;
	/*border: 1px solid #dadada;*/
	background-color: #FFFFFF;
}


.margin-right {
	margin-right: 20px;
}

.list-container {
    padding: 0 15px;
}

.cluster-container {
    margin: 15px 0;
	height: auto;
	border-radius: 3px;
	border: 1px solid #eee;
	box-shadow: 0 5px 10px -6px rgba(0,0,0,.2);
}

.cluster-container:hover {
    box-shadow: 0 6px 25px -6px rgba(0,0,0,.2);
}

.cluster-container-fail, .cluster-container-fail:hover{
    box-shadow: 0 5px 10px rgb(249, 139, 130);
}

.icon-chart-container {
	width: 50%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
}

.total-icon {
    background-color: #57c8f2;
	/*background-color: #46b8da;*/
}

.good-icon {
    background-color: #6ccac9;
	/*background-color: #009F95;*/
}

.bad-icon {
    background-color: #ff6c60;
	/*background-color: #FF5722;*/
}

.keys-icon {
	background-color: #333333;
}

.warning-icon {
    background-color: #f8d347;
	/*background-color: #FFB800;*/
}

.icon-chart {
	font-size: 54px;
	color: white;
}

.total-data-container {
	width: 50%;
	height: 100%;
	font-size: 24px;
}

.data {
	margin: 5% 0 0;
	display: flex;
	justify-content: center;
	font-size: 36px;
}

.total-data-title {
	display: flex;
    justify-content: center;
	padding: 10px 0;
	color: #999999;
	font-size: 12px;
}

/*cluster list*/
.my-list-panel {
	border: none;
}

.my-list-panel-header {
	margin: 0;
	border-radius: 3px;
	background-color: #F9F9F9;
}

.my-list-panel-header:hover {
	background-color: #FFFFFF;
	color: #333333;
}
.my-list-panel-header a {
	display: block;
	padding: 10px;
	color: #737373;
	text-decoration: none;
}

.cluster-title {
	font-size: 16px;
	padding-bottom: 10px;
	border-bottom: 1px solid #eee;
	cursor: pointer;
	display: flex;
	justify-content: space-between;
    align-items: center;
}

.cluster-title a, cluster-title a:hover{
    color: #FFFFFF;
    background-color: #FFB800;
    padding:0 5px;
    margin-left: 10px;
    font-size: 12px;
    text-decoration: none;
}

.info-wrapper a{
    color: #555555;
    text-decoration: none;
}

.info-wrapper a:hover {
    color: #333333;
}

.one-data {
	display: flex;
    align-items: center;
	margin-top: 10px;
}

.one-data i{
	font-size: 18px;
	margin-right: 8px;
}

.one-data-name {
	margin-right: 5px;
}

.data-item {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.option-wrapper {
	padding-top: 30px;
    display: flex;
    justify-content: center;
}

.option-wrapper button {
	width: 60px;
}

.option-wrapper a, .option-wrapper a:hover {
    color: #FFFFFF;
    text-decoration: none;
}

.option-container {
    margin: 0px 10px;
}

.alarm {
    position: relative;
    top: -8px;
    left: -20px;
    height: 18px;
    min-width: 18px;
    border-radius: 18px;
    text-align: center;
    line-height: 18px;
    background-color: #FF5722;
}

.monitor-box-header{
    height:50px;
}


.delete-container {
	display: flex;
	justify-content: flex-end;
	cursor: pointer;
	-webkit-transition:-webkit-transform 1s;
}

.delete-container i{
	color: #eee;
 	transition:all 0.5s linear;transform:rotate(0deg);
}

.delete-container i:hover{
	color: #ff6c60;
	opacity: 1;
	transform:rotate(-180deg);
}
.cluster-form-input-tip{
    margin-left: 22px;
    margin-top: -10px;
    margin-bottom: 9px;
}
.add-btn {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 80px;
    padding-top: 50px;
    padding-bottom: 50px;
    color: #aba7a7;
}

.form-control {
    border: 1px solid #e2e2e4;
    box-shadow: none;
    color: #756363;
}

.safe {
    margin-left: 15px;
    color: #00bb9a;
}
