<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=8" />
    <meta HTTP-EQUIV="pragma" CONTENT="no-cache" />
    <meta HTTP-EQUIV="Cache-Control" CONTENT="no-cache, must-revalidate" />
    <meta HTTP-EQUIV="expires" CONTENT="0" />
    <meta http-equiv="Cache" content="no-cache" />
	<link rel="shortcut icon" type="image/x-icon" href="../img/favicon.ico" />
    <title>Redis Monitor List</title>

	<link href="../vender/sparrow/sparrow.css" rel="stylesheet" charset="utf-8" />
    <link rel="stylesheet" href="../vender/bootstrap-3.3.7/css/bootstrap.css"/>
	<link rel="stylesheet" href="../css/bootstrap-reset.css"/>
	<link rel="stylesheet" href="../css/bootstrap-reset.css"/>
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />-->
	<link rel="stylesheet" href="../font-awesome/css/font-awesome.css" />
	<link rel="stylesheet" href="../css/common.css"/>

	<link rel="stylesheet" href="../css/redis-monitor-list.css"/>
	<link rel="stylesheet" href="../css/style.css"/>
	<script type="text/javascript" src="../vender/jquery/jquery-3.3.1.min.js"></script>
	<script type="text/javascript" src="../vender/bootstrap-3.3.7/js/bootstrap.js"></script>


	<script type="text/javascript" src="../vender/sparrow/layer/layer.js"></script>
	<script src="../vender/sparrow/ajax.js"></script>
	<script src="../core/userApi.js"></script>
	<script src="../vender/sparrow/util.js"></script>
	<script src="../vender/sparrow/smarty.js"></script>
	<script src="../vender/sparrow/validate.js"></script>
	<script type="text/javascript" src="../js/common.js"></script>
</head>
<body>
    <div  class="body-container scrollbar-div scrollbar-div-1">
        <div class="data-container scrollbar">

            <div class="state-overview list-info">
            	<div class="row">
            		<div class="col-lg-3 col-sm-6">
						<section class="panel">
							<div class="symbol blue">
								<i class="icon-signal"></i>
							</div>
							<div class="value">
								<h1 id="cluster-number">0</h1>
								<p>Redis Cluster</p>
							</div>
						</section>
            		</div>
            		<div class="col-lg-3 col-sm-6">
						<section class="panel">
							<div class="symbol terques">
								<i class="icon-heart"></i>
							</div>
							<div class="value">
								<h1 id="cluster-ok-number">0</h1>
								<p>Good Cluster</p>
							</div>
						</section>
            		</div>
            		<div class="col-lg-3 col-sm-6">
						<section class="panel">
							<div class="symbol red">
								<i class="icon-frown"></i>
							</div>
							<div class="value">
								<h1 id="cluster-fail-number">0</h1>
								<p>Bad Cluster</p>
							</div>
						</section>
					</div>
            		<div class="col-lg-3 col-sm-6">
						<section class="panel">
							<div class="symbol yellow">
								<i class="icon-bell"></i>
							</div>
							<div class="value">
								<h1 id="cluster-alarm-count">0</h1>
								<p>Cluster Warning</p>
							</div>
						</section>
            		</div>
            	</div>
            </div>
			<div id="group-classify">

			</div>

			<div class="panel panel-default my-list-panel">
				<div tyle="height:100px">
					<div class="add-btn" id="add-cluster">
						<i class="glyphicon glyphicon-plus"></i>
					</div>
				</div>
			</div>
        </div>
    </div>
</body>
<script src="../js/cluster-monitor-list.js"></script>
<script type="text/javascript" src="../js/cluster-meta.js"></script>
</html>