<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <link rel="shortcut icon" type="image/x-icon" href="../img/favicon.ico" />
    <title>install select</title>
    <link rel="stylesheet" href="../vender/bootstrap-3.3.7/css/bootstrap.css"/>
    <link rel="stylesheet" href="../css/bootstrap-reset.css"/>
    <link rel="stylesheet" href="../css/common.css"/>
    <script type="text/javascript" src="../vender/jquery/jquery-3.3.1.min.js"></script>
    <script src="../vender/sparrow/layer/layer.js"></script>
    <script src="../vender/sparrow/ajax.js"></script>
    <script src="../vender/sparrow/util.js"></script>
    <script src="../core/userApi.js"></script>
</head>
<body>
<div class="body-container">
    <div class="row">
        <div class="col-md-4">
            <div class="thumbnail">
                <div class="caption">
                    <h3> Machine </h3>
                    <p> 通过 ssl 远程安装节点 </p>
                    <p>
                        <a href="javascript:void(0)" data-target="/node/install?pluginType=machine" data-type="machine" class="btn btn-default create-cluster-link" role="button">Create</a>
                    </p>
                </div>
            </div>
        </div><!-- .col-md-4 -->
        <div class="col-md-4">
            <div class="thumbnail">
                <div class="caption">
                    <h3> Docker </h3>
                    <p> 通过 docker 提供的 api 操作 redis </p>
                    <p>
                        <a href="javascript:void(0)" data-target="/node/install?pluginType=docker" data-type="docker" class="btn btn-default create-cluster-link" role="button">Create</a>
                    </p>
                </div>
            </div>
        </div><!-- .col-md-4 -->
        <div class="col-md-4">
            <div class="thumbnail">
                <div class="caption">
                    <h3> Humpback </h3>
                    <p> 通过 humpback 提供的 api 操作 redis</p>
                    <p>
                        <a href="javascript:void(0)" data-target="/node/install?pluginType=humpback" data-type="humpback" class="btn btn-default create-cluster-link" role="button">Create</a>
                    </p>
                </div>
            </div>
        </div><!-- .col-md-4 -->
    </div><!-- .row -->
</div><!-- .container-fluid -->
<script src="../js/select-cluster-type.js"></script>
</body>
</html>