<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <link rel="shortcut icon" type="image/x-icon" href="../img/favicon.ico" />
    <title>sync cluster</title>
    <link rel="stylesheet" href="../vender/bootstrap-3.3.7/css/bootstrap.css"/>
    <link rel="stylesheet" href="../css/bootstrap-reset.css"/>
    <link rel="stylesheet" href="../css/common.css"/>
    <script type="text/javascript" src="../vender/jquery/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="../vender/bootstrap-3.3.7/js/bootstrap.js"></script>
    <script src="../vender/sparrow/layer/layer.js"></script>
    <script src="../vender/sparrow/ajax.js"></script>
    <script src="../vender/sparrow/util.js"></script>
    <script src="../core/userApi.js"></script>
    <script src="../vender/sparrow/smarty.js"></script>
    <script src="../vender/sparrow/validate.js"></script>
    <script src="../js/common.js"></script>
</head>
<body>
<div class="body-container">
    <h3>集群同步</h3>
    <div class="row">
        <div class="col-md-12">
            <div class="input-group">
                <div class="input-group-btn">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span id="from-cluster">From Cluster</span>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" id="from-cluster-li"></ul>
                </div>
                <input type="text" class="form-control"  name="format-key" aria-label="Text input with segmented button dropdown" placeholder="test_key*" />
                <div class="input-group-btn">
                    <ul class="dropdown-menu" id="to-cluster-li"></ul>
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span id="to-cluster">Target Cluster</span>
                        <span class="caret"></span>
                    </button>
                    <button type="button" class="btn btn-info" id="syn-cluster-button">SynCluster</button>
                </div>
            </div>
        </div><!-- col-md-12 -->
        <div class="col-md-12" id="cluster-import-count-table" style="margin-top:20px">

        </div><!-- col-md-12 -->
    </div><!-- .row-->
</div><!-- .container-fluid -->
<script src="../js/syn-cluster.js"></script>
</body>
</html>