<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <link rel="shortcut icon" type="image/x-icon" href="../img/favicon.ico" />
    <title>Alarm System</title>
    <link href="../vender/datatables/dataTables.bootstrap.css" rel="stylesheet" charset="utf-8" />
    <link rel="stylesheet" href="../vender/bootstrap-3.3.7/css/bootstrap.css"/>
    <link rel="stylesheet" href="../css/bootstrap-reset.css"/>
    <link href="../vender/sparrow/sparrow.css" rel="stylesheet" charset="utf-8" />
    <link rel="stylesheet" href="../css/common.css"/>
    <link rel="stylesheet" href="../css/alarm.css"/>

    <link rel="stylesheet" href="../font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/dashboard.css" />


    <script type="text/javascript" src="../vender/jquery/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="../vender/bootstrap-3.3.7/js/bootstrap.js"></script>

    <script src="../vender/sparrow/layer/layer.js"></script>
    <script src="../vender/sparrow/ajax.js"></script>
    <script src="../core/userApi.js"></script>
    <script src="../vender/sparrow/util.js"></script>
    <script src="../vender/sparrow/smarty.js"></script>
    <script src="../vender/sparrow/validate.js"></script>
    <script src="../vender/datatables/jquery.dataTables.js"></script>
    <script src="../vender/datatables/dataTables.bootstrap.min.js"></script>
    <script src="../js/common.js"></script>

</head>
<body>
    <div class="body-container container-color scrollbar-div scrollbar-div-1">
        <div class="scrollbar">
            <div class="header-swapper">
                <div class="cluster-name-container">
                    <span><font id="cluster-name">Cluster Name</font></span>
                </div>
            </div>
            <div class="main-swapper">
                <div class="cluster-header tab-position">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="#alarmHistory" data-toggle="tab">Alarm Cases</a>
                        </li>
                        <li >
                            <a href="#alarmRule" data-toggle="tab">Alarm Rule</a>
                        </li>
                    </ul>
                </div>
                <div id="clusterContent" class="tab-content" >
                    <div class="tab-pane fade in active" id="alarm-content">
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
<script src="../js/alarm.js"></script>
</html>