<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=8" />
    <meta HTTP-EQUIV="pragma" CONTENT="no-cache" />
    <meta HTTP-EQUIV="Cache-Control" CONTENT="no-cache, must-revalidate" />
    <meta HTTP-EQUIV="expires" CONTENT="0" />
    <meta http-equiv="Cache" content="no-cache" />
	<link rel="shortcut icon" type="image/x-icon" href="../img/favicon.ico" />
    <title>Redis Monitor List</title>

	<link href="../vender/sparrow/sparrow.css" rel="stylesheet" charset="utf-8" />
    <link rel="stylesheet" href="../vender/bootstrap-3.3.7/css/bootstrap.css"/>
	<link rel="stylesheet" href="../css/bootstrap-reset.css"/>
	<link rel="stylesheet" href="../css/bootstrap-reset.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
	<link rel="stylesheet" href="../font-awesome/css/font-awesome.css" />
	<link rel="stylesheet" href="../css/common.css"/>
	<link rel="stylesheet" href="../css/redis-monitor-list.css"/>
	
	<script type="text/javascript" src="../vender/jquery/jquery-3.3.1.min.js"></script>
	<script type="text/javascript" src="../vender/bootstrap-3.3.7/js/bootstrap.js"></script>


	<script type="text/javascript" src="../vender/sparrow/layer/layer.js"></script>
	<script src="../vender/sparrow/ajax.js"></script>
	<script src="../core/userApi.js"></script>
	<script src="../vender/sparrow/util.js"></script>
	<script src="../vender/sparrow/smarty.js"></script>
	<script src="../vender/sparrow/validate.js"></script>
	<script type="text/javascript" src="../js/common.js"></script>
</head>
<body>
    <div  class="body-container scrollbar-div scrollbar-div-1">
        <div class="data-container scrollbar">
            <div class="list-info">
            	<ul>
            		<li class="margin-right">
            			<div class="icon-chart-container total-icon">
            				<i class="fa fa-bar-chart icon-chart"></i>
            			</div>
            			<div class="total-data-container">
            				<div class="data">
            					<a id="cluster-number">0</a>
            				</div>
            				<div class="total-data-title">
            					<span>Redis Cluster</span>
            				</div>
            			</div>
            		</li>
            		<li class="margin-right">
            			<div class="icon-chart-container good-icon">
            				<i class="fa fa-heartbeat icon-chart"></i>
            			</div>
            			<div class="total-data-container">
            				<div class="data">
            					<a id="cluster-ok-number">0</a>
            				</div>
            				<div class="total-data-title">
            					<span>Good Cluster</span>
            				</div>
            			</div>
            		</li>
            		<li class="margin-right">
            			<div class="icon-chart-container bad-icon">
            				<i class="fa fa-stethoscope icon-chart"></i>
            			</div>
            			<div class="total-data-container">
            				<div class="data">
            					<a id="cluster-fail-number">0</a>
            				</div>
            				<div class="total-data-title">
            					<span>Bad Cluster</span>
            				</div>
            			</div>
            		</li>
            		<li>
            			<div class="icon-chart-container warning-icon">
            				<i class="fa fa-bell icon-chart"></i>
            			</div>
            			<div class="total-data-container">
            				<div class="data">
            					<a id="cluster-alarm-count">0</a>
            				</div>
            				<div class="total-data-title">
            					<span>Cluster Warning</span>
            				</div>
            			</div>
            		</li>
            	</ul>
            </div>
			<div id="group-classify">

			</div>

			<div class="panel panel-default my-list-panel">
				<div tyle="height:100px">
					<div class="add-btn" id="add-cluster">
						<i class="glyphicon glyphicon-plus"></i>
					</div>
				</div>
			</div>
        </div>
    </div>
</body>
<script src="../js/cluster-monitor-list.js"></script>
<script type="text/javascript" src="../js/cluster-meta.js"></script>
</html>