<!DOCTYPE HTML>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=8" />
		<meta HTTP-EQUIV="pragma" CONTENT="no-cache" />
		<meta HTTP-EQUIV="Cache-Control" CONTENT="no-cache, must-revalidate" />
		<meta HTTP-EQUIV="expires" CONTENT="0" />
		<meta http-equiv="Cache" content="no-cache" />
		<link rel="shortcut icon" type="image/x-icon" href="../img/favicon.ico" />

		<title>Redis Cluster</title>
		<link href="../vender/sparrow/sparrow.css" rel="stylesheet" charset="utf-8" />
		<link rel="stylesheet" href="../vender/bootstrap-3.3.7/css/bootstrap.css"/>
		<link rel="stylesheet" href="../css/bootstrap-reset.css"/>
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
		<link rel="stylesheet" href="../font-awesome/css/font-awesome.css" />
		<link rel="stylesheet" href="../css/common.css"/>
		<link rel="stylesheet" href="../css/cluster-list-manager.css"/>

		<script type="text/javascript" src="../vender/jquery/jquery-3.3.1.min.js"></script>
		<script type="text/javascript" src="../vender/bootstrap-3.3.7/js/bootstrap.js"></script>
		<script type="text/javascript" src="../vender/bootbox.min.js"></script>

		<script src="../vender/sparrow/layer/layer.js"></script>
		<script src="../vender/sparrow/ajax.js"></script>
		<script src="../vender/sparrow/util.js"></script>
		<script src="../vender/sparrow/smarty.js"></script>
		<script src="../core/userApi.js"></script>
		<script src="../vender/sparrow/validate.js"></script>
		<script type="text/javascript" src="../js/common.js"></script>

	</head>
	<body>
		<div class="body-container scrollbar-div scrollbar-div-1">
			<div class="data-container scrollbar">
				<!-- body-->
				<div class="cluster-list-container" id="cluster-list-content">
				</div>
			</div>
		</div>
	</body>
	<script type="text/javascript" src="../js/cluster-list-manager.js"></script>
	<script type="text/javascript" src="../js/cluster-meta.js"></script>
</html>