<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link rel="shortcut icon" type="image/x-icon" href="../img/favicon.ico" />
		<title>Manager Cluster</title>

		<link rel="stylesheet" href="../vender/bootstrap-3.3.7/css/bootstrap.min.css" />

		<link rel="stylesheet" href="../font-awesome/css/font-awesome.css" />
		<link rel="stylesheet" href="../vender/bootstrap-select-1.12.4/dist/css/bootstrap-select.css" />
		<link rel="stylesheet" href="../css/common.css"/>
		<link rel="stylesheet" href="../css/manager-cluster.css"/>
		<link href="../vender/sparrow/sparrow.css" rel="stylesheet" charset="utf-8" />

		<script type="text/javascript" src="../vender/jquery/jquery-3.3.1.min.js"></script>
		<script type="text/javascript" src="../vender/bootstrap-3.3.7/js/bootstrap.js"></script>
		<script type="text/javascript" src="../vender/bootstrap-select-1.12.4/dist/js/bootstrap-select.js"></script>
		<script type="text/javascript" src="../vender/sparrow/layer/layer.js"></script>
		<script src="../vender/sparrow/ajax.js"></script>
		<script src="../core/userApi.js"></script>
		<script src="../vender/sparrow/util.js"></script>
		<script src="../vender/sparrow/smarty.js"></script>
		<script src="../vender/sparrow/validate.js"></script>
		<script src="../js/common.js"></script>
		<script src="../js/redis-meta.js"></script>
	</head>
	<body>
		<div class="body-container container-color scrollbar-div scrollbar-div-1">
	        <div class="main-swapper scrollbar">
	        	<div class="cluster-header">
		        	<ul class="nav nav-tabs">
		        		<li class="active">
							<a href="#clusterManager" data-toggle="tab"><span class="glyphicon glyphicon-euro"></span> Cluster Manager</a>
						</li>
						<li >
							<a href="#nodeManager" target="node-manager" data-toggle="tab"><span class="glyphicon glyphicon-wrench"></span> Node Manager</a>
						</li>
					</ul>
		        </div>
		        <div class="base-info-operation">
		        	
		        </div>
		        <div id="clsuter-content" class="tab-content" >
					<div role="tabpanel" class="tab-pane active" id="clusterManager">clusterManager</div>
					<div role="tabpanel" class="tab-pane" id="nodeManager">
						<iframe src="/user/login" name="node-manager" class="content-page" scrolling="no"  frameborder="0" ></iframe>
					</div>
				</div>
	        </div>
	        
       </div>
	</body>
	<script src="../js/cluster-manager.js"></script>
</html>
