<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="keyword" content="redis, cluster, cache, platform" />
        <!--<link rel="shortcut icon" href="img/favicon.html">-->
        <link rel="shortcut icon" type="image/x-icon" href="../img/favicon.ico" />
        <title>Redis Manager</title>

        <link rel="stylesheet" href="../vender/bootstrap-3.3.7/css/bootstrap.min.css" />
        <link rel="stylesheet" href="../css/bootstrap-reset.css" />
        <link rel="stylesheet" href="../font-awesome/css/font-awesome.css" />
        <link rel="stylesheet" href="../css/style.css" />
        <link rel="stylesheet" href="../css/dashboard.css" />
    </head>
    <body>

        <section id="container">
          <!--header start-->
            <header class="header white-bg">
                <div class="sidebar-toggle-box">
                    <div data-original-title="Toggle Navigation" data-placement="right" class="icon-reorder tooltips"></div>
                </div>
                <!--logo start-->
                <a href="/" class="logo"><span>Redis</span>&nbsp;Manager</a>
                <!--logo end-->

                <div class="top-nav ">
                    <ul class="nav pull-right top-menu">
                    <!-- user login dropdown start-->
                        <li class="dropdown">
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                <img alt="" src="../img/redis.svg" class="head-pic" />
                                <span id="username">Admin</span>
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu extended logout">
                                <div class="log-arrow-up"></div>
                                <li><a href="#" id="user-logout"><i class="icon-key"></i> Log Out</a></li>
                            </ul>
                        </li>
                    <!-- user login dropdown end -->
                    </ul>
                </div>
            </header>
            <!--header end-->
            <!--sidebar start-->
            <aside>
                <div id="sidebar"  class="nav-collapse ">
                    <!-- sidebar menu start-->
                    <ul class="sidebar-menu">
                        <li class="active">
                            <a class="dashboard" href="/monitor/clusterMonitorList" target="change-page">
                            <i class="icon-dashboard"></i>
                            <span>Cluster List</span>
                            </a>
                        </li>
                        <li>
                            <a class="" href="/node/selectClusterType" target="change-page">
                                <i class="icon-plus-sign-alt"></i>
                                <span>Cluster Create</span>
                            </a>
                        </li>
                        <li id="userManage" style="display:none;">
                            <a class="" href="#" target="change-page">
                                <i class="icon-user"></i>
                                <span>User Manage</span>
                            </a>
                        </li>
                        <li>
                            <a class="" href="https://github.com/ngbdf/redis-manager/wiki" target="_blank">
                                <i class="icon-list-alt"></i>
                                <span>User Docs</span>
                            </a>
                        </li>
                    </ul>
                    <!-- sidebar menu end-->
                </div>
            </aside>
            <!--sidebar end-->
            <!--main content start-->
            <section id="main-content">
                <section class="wrapper">
                    <iframe src="/monitor/clusterMonitorList" name="change-page" class="content-page" scrolling="no"  frameborder="0" ></iframe>
                </section>
            </section>
            <!--main content end-->
        </section>

        <script src="../vender/jquery/jquery-3.3.1.min.js"></script>
        <script src="../js/dashboard.js"></script>
        <script src="../vender/bootstrap-3.3.7/js/bootstrap.min.js"></script>
        <script src="../js/jquery.scrollTo.min.js"></script>
        <script src="../js/jquery.nicescroll.js" type="text/javascript"></script>
        <script src="../js/common-scripts.js"></script>
        <script type="text/javascript" src="../vender/sparrow/layer/layer.js"></script>
        <script src="../vender/sparrow/ajax.js"></script>
        <script src="../core/userApi.js"></script>
        <script src="../js/index.js"></script>
    </body>
</html>
