<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/mvc">
<head>
    <meta charset="UTF-8" />
    <link rel="shortcut icon" type="image/x-icon" href="../img/favicon.ico" />
    <title>Title</title>
    <link rel="stylesheet" href="../vender/bootstrap-3.3.7/css/bootstrap.css"/>
    <link rel="stylesheet" href="../css/bootstrap-reset.css"/>
    <link rel="stylesheet" href="../vender/bootstrap-select-1.12.4/dist/css/bootstrap-select.css" />
    <link rel="stylesheet" href="../css/common.css"/>
    <link rel="stylesheet" href="../css/plugin-common.css"/>
    <link href="../vender/sparrow/sparrow.css" rel="stylesheet" charset="utf-8" />
    <script type="text/javascript" src="../vender/jquery/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="../vender/bootstrap-3.3.7/js/bootstrap.js"></script>
    <script type="text/javascript" src="../vender/bootstrap-select-1.12.4/dist/js/bootstrap-select.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
    <script src="../vender/sparrow/layer/layer.js"></script>
    <script src="../vender/sparrow/ajax.js"></script>
    <script src="../core/userApi.js"></script>
    <script src="../vender/sparrow/util.js"></script>
    <script src="../vender/sparrow/smarty.js"></script>
    <script src="../vender/sparrow/validate.js"></script>
    <script src="../core/websocket.js"></script>
    <script src="../js/common.js"></script>
    <script src="../vender/autosize.js"></script>
    <style>

    </style>
</head>
<body>
<div class="container-fluid">
    <h1 class="plugin-install-title"><span id="plugin-name">Cluster</span> Install</h1>
    <div id="create-cluster-container">

    </div>
</div><!-- .container-fluid -->
</body>
<script th:inline="javascript">
    /*<![CDATA[*/
        window.user = /*[[${user}]]*/;
    /*]]>*/
</script>
<script src="../js/install-node.js"></script>
</html>