<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>install select</title>
    <link rel="stylesheet" href="../vender/bootstrap-3.3.7/css/bootstrap.css"/>
    <link rel="stylesheet" href="../css/common.css"/>
</head>
<body>
<div class="body-container">
    <div class="row">
        <div class="col-md-4">
            <div class="thumbnail">
                <div class="caption">
                    <h3> machine </h3>
                    <p> 通过 ssl 远程安装节点 </p>
                    <p>
                        <a href="/node/install?pluginType=machine" class="btn btn-default" role="button">Create</a>
                    </p>
                </div>
            </div>
        </div><!-- .col-md-4 -->
        <div class="col-md-4">
            <div class="thumbnail">
                <div class="caption">
                    <h3> docker </h3>
                    <p> 通过 docker 提供的 api 操作 redis </p>
                    <p>
                        <a href="/node/install?pluginType=docker" class="btn btn-default" role="button">Create</a>
                    </p>
                </div>
            </div>
        </div><!-- .col-md-4 -->
        <div class="col-md-4">
            <div class="thumbnail">
                <div class="caption">
                    <h3> humpback </h3>
                    <p> 通过 humpback 提供的 api 操作 redis</p>
                    <p>
                        <a href="/node/install?pluginType=humpback" class="btn btn-default" role="button">Create</a>
                    </p>
                </div>
            </div>
        </div><!-- .col-md-4 -->
    </div><!-- .row -->
</div><!-- .container-fluid -->

</body>
</html>