<!DOCTYPE html>
<html lang="en">
<head>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta name="keyword" content="redis, cluster, cache, platform"/>
        <!--<link rel="shortcut icon" href="img/favicon.html">-->
        <link rel="shortcut icon" type="image/x-icon" href="../img/favicon.ico"/>
        <title>User Manager</title>

        <link rel="stylesheet" href="../vender/bootstrap-3.3.7/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="../css/bootstrap-reset.css"/>
        <link rel="stylesheet" href="../font-awesome/css/font-awesome.css"/>
        <link rel="stylesheet" href="../css/common.css"/>
        <link rel="stylesheet" href="../css/style.css"/>
    </head>
</head>
<body>
<div class="body-container container-color scrollbar-div scrollbar-div-1">
    <div class="data-container scrollbar">
        <div class="row">
            <div class="col-lg-12">
                <section class="panel">
                    <header class="panel-heading">
                        <span>User Manage</span>
                        <button class="btn btn-success btn-xs" id="addUser"><i class="icon-plus"></i> Add User</button>
                    </header>
                    <table class="table table-striped table-advance table-hover" id="userTable">
                        <thead>
                        <tr>
                            <th>Index</th>
                            <th>Group</th>
                            <th>UserName</th>
                            <th>Password</th>
                            <th>Edit</th>
                        </tr>
                        </thead>
                        <tbody>
                           <!-- user lists-->
                        </tbody>
                    </table>
                </section>
            </div>
        </div>
        <!-- 模态框（Modal） -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title" id="myModalLabel">Edit User</h4>
                    </div>
                    <div class="modal-body">

                        <input id="userId" type="hidden" class="form-control modal-input"  />

                        <div class="input-group m-bot15">
                            <span class="input-group-addon modal-span">Group</span>
                            <input id="group" type="text" class="form-control modal-input" placeholder="group"  />
                        </div>
                        <div class="input-group m-bot15">
                            <span class="input-group-addon modal-span">UserName</span>
                            <input id="userName" type="text" class="form-control modal-input" placeholder="user name" />
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon modal-span">Password</span>
                            <input id="password" type="text" class="form-control modal-input" placeholder="password"  />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" id="confirm">Confirm</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    </div>
</div>

<script type="text/javascript" src="../vender/jquery/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="../vender/bootstrap-3.3.7/js/bootstrap.js"></script>
<script type="text/javascript" src="../vender/sparrow/layer/layer.js"></script>
<script src="../js/user-manage.js"></script>
</body>
</html>