<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Demo List</title>
    <link href="../vender/sparrow/sparrow.css" rel="stylesheet" charset="utf-8" />
    <script type="text/javascript" src="../vender/jquery/jquery-3.3.1.min.js"></script>
    <script src="../vender/sparrow/layer/layer.js"></script>
    <script src="../vender/sparrow/ajax.js"></script>
</head>
<body>
<div id="body-content">
    <div id="node-list-div" style="border:1px solid gray">
        <h1>hello ajax</h1>
    </div>
</div>

<p id="sync-ajax">sync-ajax</p>
<p id="async-ajax">async-ajax</p>

<p id="ajax-post-info">ajax-post-info</p>
<p id="ajax-post-warn">ajax-post-warn</p>
<p id="ajax-post-error">ajax-post-error</p>
<p id="ajax-post-default">ajax-post-default</p>
<p id="async-get">async-get</p>

</body>
<script src="../js/demo/ajax.js"></script>
</html>