.sparrow_error_msg {
    width: 100%;
    text-align: center;
}
.sparrow_input_tip_error,
.sparrow_input_tip_info,
.sparrow_input_tip_ok {
    display: block;
    padding-left: 30px;
    height: auto;
    line-height: 22px;
    color: #a0a0a0;
    background-repeat: no-repeat;
    background-position:11px 4px;
}
.sparrow_input_tip_ok {
    color: #000;
    background-image: url(images/icon_ok.png);
}
.sparrow_input_tip_info {
    color: #999;
    background-image: url(images/icon_info.png);
}
.sparrow_input_tip_error {
    color: #f00;
    background-image: url(images/icon_error.png);
}

.hide{
    display: none;
}