{{if $masterid != $clusterNodes.nodeId && $nodeid != $clusterNodes.nodeId && $clusterNodes.nodeId != null}}
    {{if !empty($clusterNodes.slaveList)}}
        <td class="expand pointer expand-td" data-slave-index="{{$index}}" data-show="true" style="border-bottom:1px solid #ddd">
            <span class="glyphicon glyphicon-minus"></span>
        </td>
    {{else}}
        <td></td>
    {{/if}}
    <td class="status-td">{{node_status_tag status=$clusterNodes.status index=$index}}</td>
    <td>{{$clusterNodes.role}}
        <span class="badge hidden" id="expand-slave-{{$index}}">
            slave:{{if !empty($clusterNodes.slaveList)}}{{$clusterNodes.slaveList.length}}{{/if}}
        </span>
    </td>
    <td data-toggle="tooltip" data-placement="bottom" title="{{$clusterNodes.nodeId}}">{{$clusterNodes.host}}</td>
    <td>
    {{$clusterNodes.slot}}{{slot_num slots=$clusterNodes.slot size=$res.clusterInfo.cluster_size index=$index}}
    </td>
    <td>
        <a href="javascript:void(0)" id="{{$clusterNodes.nodeId}}" data-ip="{{$clusterNodes.ip}}" data-port="{{$clusterNodes.port}}" class="redis-meta node-info"><span class="glyphicon glyphicon-search"></span> Info</a>
        <a href="javascript:void(0)" data-ip="{{$clusterNodes.ip}}" data-port="{{$clusterNodes.port}}"  class="redis-meta view-config">Config</a>
    </td>
    <td style="text-align:right">
        {{if $move_slave == 1}}
            <button class="btn move-slave-confirm btn-info btn-xs" data-nodeid="{{$clusterNodes.nodeId}}" >To Master</button>
        {{else}}
            {{if empty($clusterNodes.slaveList) }}
            <button class="option-button forget-node btn btn-default btn-xs" data-nodeid="{{$clusterNodes.nodeId}}" data-masterid="{{$clusterNodes.masterId}}" data-ip="{{$clusterNodes.ip}}" data-port="{{$clusterNodes.port}}" >Forget Node</button>
            {{/if}}
            <button class="option-button btn move-slot btn-default btn-xs" data-nodeid="{{$clusterNodes.nodeId}}" data-ip="{{$clusterNodes.ip}}" data-port="{{$clusterNodes.port}}">Move Slot</button>
            <button class="option-button btn memory-purge btn-default btn-xs" data-nodeid="{{$clusterNodes.nodeId}}" data-ip="{{$clusterNodes.ip}}" data-port="{{$clusterNodes.port}}">Memory Purge</button>
            <button class="{{slave_tag slot=$clusterNodes.slot}} option-button be-slave btn btn-default second-selected btn-xs" data-nodeid="{{$clusterNodes.nodeId}}" data-masterid="{{$clusterNodes.masterId}}" data-ip="{{$clusterNodes.ip}}" data-port="{{$clusterNodes.port}}">Be Slave</button>
        {{/if}}
    </td>
{{/if}}