<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Demo List</title>
    <link href="../vender/sparrow/sparrow.css" rel="stylesheet" charset="utf-8" />
    <script type="text/javascript" src="../vender/jquery/jquery-3.3.1.min.js"></script>
    <script src="../vender/sparrow/layer/layer.js"></script>
    <script src="../vender/sparrow/ajax.js"></script>
    <script src="../vender/sparrow/util.js"></script>
    <script src="../vender/sparrow/smarty.js"></script>
</head>
<body>
<div id="body-content">
    <div id="node-list-div" style="border:1px solid gray"></div>
</div>

<p id="html-tpl">html</p>
<p id="get-tpl">get</p>
<p id="post-tpl">post</p>
<p id="open-tpl">open</p>
<p id="popen-tpl">popen</p>
</body>
<script src="../js/demo/smarty.js"></script>
</html>